@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}
body{
    background-color: rgb(255, 255, 255);
    color: #ffffff;
}
header nav{
    background-color: rgb(244, 198, 60);
    display: flex;
    justify-content: space-between;
    padding: 1.1rem;
    align-items: center;
    font-size: 1.3rem;
    z-index: 1;
}
form .searchBox {
    width: 15rem;
    height: 2rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    padding-left: 1rem;
    cursor: pointer;
    font-weight: 700;
}
form .searchBtn{
    width: 5rem;
    height: 1.9rem;
    border-radius: 0.5rem;
    outline: none;
    border: 2px solid #ffffff;
    background-color:#ffc423;
    font-size: .9rem;
    color: #080808;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.2s ease-in-out;
    
}
form .searchBtn:hover{
    background-color: #f7d44b;
    
}
header nav  form{
    display: flex;
    justify-content: center;
}
form input{
    flex-grow: 1;
    margin-right:10px ;
}


/* Main section */
.recipe-container{
    color: #ff9204;
    text-align: center;
    /* padding: 1rem; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
    grid-gap: 2.5rem;
    width: 80%;
    margin: 0.625rem auto;
    /* padding: 1.25rem; */
    border-radius: 1rem;
    place-items: center;
}

.recipe{
    background-color: #f9c132;
    display: flex;
    flex-direction: column;
    color: #000000;
    font-weight: 600;
    border-radius: 0.3rem;
    box-shadow: 0 5px 10px rgba(78,73,73,0.1), -5px -5px 10px rgba(34,34,34,0.5);
    cursor: pointer;
    max-width: 21rem;
}

/* Responsive Section */
@media (max-width:600px) {
    header nav{
       
      flex-direction: column;

    }
    header nav form{
        width: 80%;
        margin-top: 20px;
        }
    
        .recipe-container{
            color: #ff9204;
            font-size: 0.9rem;
            text-align: center;
            padding: 1rem;
        }    
        
        


    
}
