<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProductPage</title>
    <link rel="stylesheet" href="../css/product.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
</head>
<body onload="productData()">

    <!-- Product Section -->

    <section id="products-container">
        <div class="new-product-heading">
            <h2>Our Products</h2>
            <p>Add Our Products to weekly lineup</p>
        </div>


   
        <div class="search">
          
            <input type="search" id="search-input" placeholder="search for here... "><i class="fa-solid fa-magnifying-glass fa-fade"></i>
           <button id="searchBtn">Search</button>

           <div class="filter">
            <label for="category-select">Filter :</label>
                 <select  id="category-select">
                     <option value="">All</option>
 
                     <!-- Category will be fecthed inside -->
                 </select>
         </div>
        </div>

        
      

        <!-- Products Container -->
    <div class="container">
        <div class="products">
           
          

        </div>
    </div>

    </section>

    
   


<script src="../script/product.js"></script>
</body>
</html>